@import "tailwindcss";

:root {
  /* JetBrains Mono (mono font) */
  --font-mono:
    var(--font-jetbrains), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Courier New", monospace;

  /* Montserrat (sans-serif font) */
  --font-sans:
    var(--font-montserrat), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  --background: 239 239 239;
  --foreground: 0 0 0;
}

.dark {
  --background: 0 0 0;
  --foreground: 255 255 255s;
}

body {
  font-family: var(--font-sans);
}

.font-sans {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}

@layer base {
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
