@import "tailwindcss";

:root {
  /* JetBrains Mono (mono font) */
  --font-mono:
    var(--font-jetbrains), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Courier New", monospace;

  /* Montserrat (sans-serif font) */
  --font-sans:
    var(--font-montserrat), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(8, 8, 8);
  
}

.font-sans {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}

